    <style><%- include('countdown.css') %></style>
    <div id="tk-countdown">
      <div class="remainder">
        <div class="label"><!--1w 2d 3h 34m 5s--></div>
      </div>
      <div class="elapsed">
        <div class="label"><!--1w 2d 3h 34m 5s--></div>
      </div>
    </div>
    <script><%- include('countdown.js') %></script>
